.results-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2rem 0;
}
.result-quiz-answer-container-card {
  display: flex;
  flex-flow: column wrap;
  border: 1px solid var(--primary);
  border-radius: 0.25rem;
  width: 500px;
  padding: 1rem 0.75rem;
  row-gap: 1rem;
}
.result-quiz-answer-option-container {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
}
.btn-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.results-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}
